@model Product

<div class="modal-body">
    <!-- product details inner end -->
    <div class="product-details-inner">
        <div class="row">

            <div class="col-lg-12">
                <div class="product-details-des">
                    <a asp-route-id="@Model.Id">
                        <img style="width:100%;" src="~/assets/img/meals/@Model.Image" />
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!-- product details inner end -->
</div>
